langchain
langchain-core
langchain-text-splitters
langgraph
langchain-community
langchain-groq
chromadb
sentence-transformers
pdfminer.six
python-docx
pytesseract
Pillow
python-dotenv
tavily-python
requests
duckduckgo-search
matplotlib
langchain-huggingface
